@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import './header.scss';
@import './start.scss';
@import './users-list.scss';
@import './user-card.scss';
@import './form.scss';


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

.v-main__wrap {
  background-color: #E5E5E5;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    @media (max-width: 1024px) {
      padding: 0 60px;
    }
    @media (max-width: 768px) {
      padding: 0 32px;
    }
    @media (max-width: 360px) {
      padding: 0 16px;
    }
}



h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}